@import "tailwindcss";

button {
    border: none;
    padding: 15px 20px;
     color:#fff;
     border: none;
     border-radius: 5px ;
     cursor: pointer;
     transition: background-color 0.3s;
}

.generate-btn :disabled {
  background-color: red;
  cursor: not-allowed;
}